header {
    color: white;
    background-color: #004175;
    border: 3px solid #89DEEF;
    border-width: 0px 0px 4px 0px;
    padding: 1px;
    text-align: center;
    }

    .font-os {
    font-family: "Open Sans" ;

    }
    
    .oswaldfont {
    font-family: "Oswald";
}
.button {
    background-color: #89DEEF;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

  #alldogs {
    border: 3px solid black;
  }

  .card {
      border: 3px solid blue;
  }

  .row {
      display:flex;
      border: 3px solid pink;
  }

  img {width: auto;}
