header {
    color: white;
    background-color: #004175;
    border: 3px solid #89DEEF;
    border-width: 0px 0px 4px 0px;
    padding: 1px;
    text-align: center;
    }

    .font-os {
    font-family: "Open Sans" ;

    }
    
    .font-oswald {
    font-family: "Oswald";
}